

.home-container {
  padding: 2rem;
  font-family: sans-serif;
  background: #f5f7fa;
  height: 100%;
  color: black;
  overflow-y: auto;
}

.welcome-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 0.5rem;
}

.tip {
  color: #555;
  margin-bottom: 2rem;
}

.user-list-container {
  margin-top: 2rem;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.users-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.users-list li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}


.login-container {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  background: white;
  color: #333;
  text-align: center;
  font-family: sans-serif;
}

.login-form {
  margin-top: 1rem;
}

.input-field {
  padding: 0.7rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.submit-button {
  padding: 0.7rem 1.5rem;
  border: none;
  background-color: #6366f1;
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #4f46e5;
}
